.card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
  }
  
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .product-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    border: 2px solid cyan;
  }
  .card-image {
    background: linear-gradient(180deg, #FAFAFA 0%, #E1EEFF 50%, #C2CFD8 100%);
  }
  .card-content {
     background-color: #DBDFEA;
  }
  .card-footer {
    background: linear-gradient(180deg, #FAFAFA 0%, #E1EEFF 50%, #C2CFD8 100%);
  }
  
  .centered-image {
    width: 50%;
    height: 80%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
