.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #FAFAFA 0%, #E1EEFF 50%, #C2CFD8 100%);
  width: 200px; /* Sesuaikan lebar navbar sesuai kebutuhan Anda */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-list li {
  margin-bottom: 10px;
}

.nav-list ul li {
  margin-top: -5;
}

.nav-list li a,
.nav-list li button {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.nav-list li a:hover,
.nav-list li button:hover {
  background: linear-gradient(180deg, #FAFAFA 0%, #E1EEFF 50%, #C2CFD8 100%);
}

.nav-list li .active {
  background-color: #555;
  color: white;
}

/* CreateProd.css */
.form-container {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

.form-field {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  font-family: "Your Unique Font", sans-serif;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-radio {
  margin-right: 1rem;
}

.form-file {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.form-file-label {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.form-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.form-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #394867;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-image-preview {
  margin-top: 1rem;
}

.form-image-preview img {
  display: block;
  max-width: 128px;
  max-height: 128px;
  margin-top: 0.5rem;
}


